
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}



<section class="ftco-section">
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 ftco-animate img about-image" style="background-image: url(/ClientTemplate/images/ship.png);">
            </div>
            <div class="col-md-6 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

                            <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

                            <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
                                <div>
                                    <h2 class="mb-4">Provide the best Delivery service</h2>
                                    <p> The post office offers fast and secure convenient delivery services</p>
                                    <p> The fastest and efficient way to deliver goods helps you communicate with each other</p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                                <div>
                                    <h2 class="mb-4"> Fast, convenient, safe</h2>
                                    <p>To meet customers' shipping needs</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                                <div>
                                    <h2 class="mb-4">Help Our Customer</h2>
                                    <p> Cost savings, strive nationally</p>
                                    <p>We are striving to become the leading provider of postal services, Finance and Retail in Vietnam, the best choice for customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">FAQS</span>
                <h2 class="mb-4"><strong>Frequently</strong> Ask Question</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div id="accordion">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="true" aria-controls="menuone">Which goods do not accept shipping? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menuone" class="collapse show">
                                    <div class="card-body">
                                        <p>
                                            Narcotics and stimulants.
                                        </p>
                                        <p>
                                            Weapons, ammunition, military technical equipment
                                        </p>
                                        <p>
                                            Rudimentary weapons such as knives, swords, spears, marks, bayonets, swords, machetes, fists, maces, bows, crossbows ...
                                        </p>
                                        <p>
                                            Explosive, flammable objects or substances that are dangerous or unsanitary, causing environmental pollution.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false" aria-controls="menutwo">It is known that the Post Office has a Postal Savings service, is it safe to deposit money into this service? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menutwo" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            Postal Savings is a channel to attract capital from the Government and Postal Savings is guaranteed by the Government. Therefore, your deposit has no risk due 100% guarantee from the Government.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menu3" aria-expanded="false" aria-controls="menu3">I am selling online, I need to find a shipping partner and collect money for me. Does the Post Office have this service?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu3" class="collapse">
                                    <div class="card-body">
                                        <p>Currently, the company has a COD (Cash On Delivery) service which is very suitable for your business requirements. and transfer money to you through the post office network throughout the country.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menu4" aria-expanded="false" aria-controls="menu4">Different packages and parcels? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu4" class="collapse">
                                    <div class="card-body">
                                        <p>Mail parcels is a service of receiving and delivering papers, documents, books, newspapers, magazines and articles of goods weighing up to 2 kg.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">What do I need to bring to the post office to receive money or registered mail?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span>
                                    </a>
                                </div>
                                <div id="menu5" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            When receiving mail, goods or money, ... the recipient needs to present one (01) of the following identity documents (ID)


                                            -         Nation ID.


                                            -         Passport


                                            - National Assembly deputies card.


                                            - Police identity card.


                                            - Army identity card


                                            In the absence of one of the above documents, the customer can use the Certificate on the back of the fuzzy paper certified by local authorities.


                                            If the receiving address is a home or work, if the receiving address is the agency to receive mail, documents, goods, money.

                                            In case of receiving under authorization letter:

                                            If receiving letters, goods or money under authorization, in addition to the above-mentioned personal papers, the authorized person must have a letter of attorney certified by the local authority.


                                            The authorization and power of attorney comply with the law on authorization.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#menu6" aria-expanded="false" aria-controls="menu6"> Why do I receive presents from abroad when I receive the package that has been opened and sealed by the Post Office? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu6" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            Customs? Why haven't I seen this test?

                                            According to the regulations of Vietnam Customs:


                                            · Goods exported and imported via postal services are directly handled by the customs service provider on behalf of goods owners.


                                            goods exported and imported with customs.


                                            · Goods exported or imported in the form of postal items or parcels sent via postal service shall go through procedures at the international post office's customs office where exist.


                                            customs organization.


                                            Based on the provisions of the Hanoi Post Office, on behalf of customers, they have to carry out Customs procedures for imported goods. After completing customs procedures, goods


                                            The goods will be sealed by customs and post office.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

