
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}

@*<div class="hero-wrap js-fullheight" style="background-image: url('/ClientTemplate/images/giao.jpg');">
    <div class="overlay"></div>
    
</div>*@
<img src="/ClientTemplate/images/giao.jpg" alt="Alternate Text"  style="width:100%;height:481px"/>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate detail-content">
                <h2 class="mb-3">Parcel post service is a service for articles and merchandises. They are attached with diffirent identifiers for tracking in the transportation and delivery process.</h2>
                <h4>Scope</h4>
                <p>Nationwide</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>


                <h4>Weight, Size</h4>
                <h6> Weight, Size:</h6>
                <p>- Maximum weight: 30kg/item.</p>
                <p>- Maximum size: is not exceeded 1500mm for any dimension and 3000mm for the sum of the length and the greatest circumference measured in  direction other than the length.</p>
                <h6> Classification of goods: </h6>
                <p>
                    1. Cumbersome goods:
                    Cumbersome goods have special characteristics so they are not loaded or arranged together with other items or need to be handled with care during the transportation and operation process.
                </p>
                <p>
                    2. Heavy goods:
                    Goods with single unit weight of over 30kg.
                </p>
                <p>
                    3. Fragile goods:
                    Goods are made from fragile materials and handled with care, including the following basic items:
                    - Ceramics, stonewares.
                    - Glass, crystals.
                    - Electronic goods, electronic parts and components.
                    - Telecom and IT equipment.
                </p>
                <p>
                    4. Light goods:
                    Goods with volume over 6,000 cm3/kg.
                </p>
                <p>
                    5. Infectious goods:
                    Goods contains virus, bacterium, parasite, fungus… causing diseases to people and animals.
                </p>
                <p>
                    6. Ordinary goods:
                    Goods are not the same kind as above.
                </p>

                <h4>Transit time</h4>

                <h6>Attached annex</h6>

                <h4>Postage Rate Table</h4>

                <h6>Attached annex</h6>

                <p>
                    <img src="~/ClientTemplate/images/giao_hang.png" alt="" class="img-fluid">
                </p>

                <h4>
                    Additional services
                </h4>

                <p> a. Pick up at the address: post office comes to customer’s address to pick up postal items upon request of customer or under contract signed with customer.</p>
                <p>   b. Packing: Post office provides customers with packing materials upon customer’s request.</p>
                <p>   c. Cash on delivery: when delivering postal items, post office collects an amount of money from addressee and pay that amount of money to sender in cash or via bank account transfer.</p>
                <p>    d. Insured service: Post office compensates customers based on value of postal items declared on acceptance time in case of loss loss or damage due to post office’s fault.</p>
                <p> e. Withdrawal of postal items: Post office stops transporting and delivering postal items and returns them to sender. This service is only applied to parcels of which transit time is not complete and are not destroyed or captured as required by the Law.</p>
                <p> f. Changes in name, address of recipients: Post office delivers items to recipients whose names and addresses are different from names and addresses on postal items. This service is only applied to parcels of which transit time is not complete and are not destroyed or captured as required by the Law.</p>
                <p> g. Paid on delivery: Post office delivers items and collects additional charges according to contracts signed with recipients/senders.</p>
                <p> h. Delivery to addresses in person: Post office delivers items to addresses in person. This service is not applied to leaders of Party or local and central authorities.</p>
                <p>> i. Advice of delivery: Post office gets signature of addressee on the advice of delivery or acceptance form of customers to send back to sender.</p>
                <p> j.  Advice of delivery SMS/Email: Post office sends SMS/Email to phone/ email provided by sender to inform delivery result.</p>
                <p> k. Co-checking delivery: Post office counts and checks the quantity of postal items or count and check the detailed content of postal items when accepted and delivered; request a stamp of receiving organizations and agencies on handover report or other handover forms of customer and then send back to sender.</p>
                <p>
                    l. Delivery upon addressee’s request:
                    Post offic changes the address, method and time to deliver postal items upon addressee’s request. This service is applied to parcels with domestic address.
                </p>
                <p>
                    m. Postal restante:
                    Letter Post items are  kept at the postal service points and a notification is sent to the recipient to receive directly.
                </p>
                <p>
                    n. Private box:
                    Post offices offer customers private boxes for lease at serving points to receive postal items. Each box is individually numbered and only available to one customer.
                </p>
                <p>
                    o. Return services: Post offices return undelivered parcels upon request of senders written on bill of shipment
                </p>


                <h4>Inquiries, Compensations</h4>
                <h6>1. Inquiry time:</h6>
                <p>a. Six (06) months since the ending date of transit time of item for loss, delay against the published transit time; in case the transit time is not published, the period will be calculated from acceptance time.</p>
                <p>b. One (01) month since date item was delivered to the recipient for damage, postage and related inquiries.</p>
                <h6>2. Inquiry settlement time: </h6>
                <p>a. For domestic service: 2 months since accepting inquiry. </p>
                <p>b. For international service: 3 months since accepting inquiry. </p>
                <h6>3. Compensation principles: </h6>
                <p>- In case of loss, damage or change the whole content: compensation for damage shall be determined according to the limitation of liability to pay damages for the entire customer service was used.</p>
                <p>- In case of partly loss, damage or change, compensation shall be based on the actual damage but not higher than the limit of liability for all damages applies to services that customers have used, unless post office and  customer have other agreements.</p>
                <p>- Limit of liability for compensation issued by Vietnam Post according to the level of compensation granted by the relevant authorities.</p>
                <p>- Compensations are paid in Vietnam dong, the payment is done once unless post office and  customer have other agreements.</p>
                <p>- Compensation is paid to the sender, unless otherwise agreed; In case of partly loss, damage that the recipient agrees to accept the rest then the compensation will be paid to recipients</p>
                <p>
                    - The compensation for direct damage is done on the basis of supply contracts and the use of postal services.
                    No compensation for indirect damage outside contract or beneficiaries are not obtained due to the postal service does not reach the quality as the two sides agreed.
                </p>
                <h6>4. Compensations:</h6>
                <p>- For loss and damage: the compensation amount will be equivalent to 4 times of the postage when posted (including value added tax).</p>
                <p>- For partly loss and damage: The maximum compensation for each item: compensation amount: (% partly lost/damaged weight) x (the maximum compensation for loss/damage).</p>
                <p>- In which:  (% partly lost/damaged weight  is determined based on minute made and confirmed by the sender/recipient).</p>
                <p>- In case that the item was returned wrongly by the post office’s fault: free return postage and refund the acceptance postage (including value added tax).</p>


            </div>











                   
                    <!-- END comment-list -->

            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <img src="~/ClientTemplate/images/anh_2.jpg" alt="Alternate Text" />
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Post</h3>
                        <li><a href="#">Letter <span>(30)</span></a></li>
                        <li><a href="#">Breakable goods. <span>(10)</span></a></li>

                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>News</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/ClientTemplate/images/bao_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="~/Client/Detail">Leading the way through partnerships</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/ClientTemplate/images/bao_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="~/Client/Detail">Partnerships against the pandemic</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/ClientTemplate/images/bao_6.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="~/Client/Detail">Vpostcode attracts many users after launching</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/ClientTemplate/images/bao_4.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="~/Client/Detail">Vietnam Post launches a new consumer promotion for Summer discounts up to 50%</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/ClientTemplate/images/bao_8.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="~/Client/Detail">Vietnam Post applies new technology to postal operation in North Central region</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box">
                    <img src="~/ClientTemplate/images/anh_4.jpg" alt="Alternate Text" />
                </div>


                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section>

