
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}

    <div class="hero-wrap js-fullheight" style="background-image: url('https://media-exp1.licdn.com/dms/image/C511BAQHvkpAG-LIXFw/company-background_10000/0?e=2159024400&v=beta&t=RGUtgDiUSBPH20Fx9VhzeAtQ_7okXj6V3cdqXhYmvjs'); ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
                    <div class="block-17 my-4">
                        <form action="" method="post" class="d-block d-flex">
                            <div class="fields d-block d-flex">
                                <div class="textfield-search">
                                    <input type="text" class="form-control" placeholder="Package ID. . .">
                                </div>
                            </div>
                            <input type="submit" class="search-submit btn btn-primary" value="Search">
                        </form>
                    </div>
                    <p></p>
                    <p class="browse d-md-flex">
                        <span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i class="flaticon-fork"></i>Offices</a></span>
                        <span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i class="flaticon-hotel"></i>Services</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>


