
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}

@*<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_4.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tips &amp; Articles</h1>
                </div>
            </div>
        </div>
    </div>*@
   
    <section class="ftco-section bg-light">
        <div class="header-service">
            <h1 style="color: #FCB71E;font-weight: bold;">
                News
            </h1>
            <br>
            <img src="~/ClientTemplate/images/boder.png" alt="none">
        </div>
        <div class="new">

            <div class="row d-flex">
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_1.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Leading the way through partnerships</a></h4>
                            <p>
                                The past few months have been extremely challenging for Posts working on the front lines of the global pandemic.
                            </p>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_2.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Partnerships against the pandemic</a></h4>
                            <p>Effective collaboration between Posts, government agencies, NGOs and the private sector.</p>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_3.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Vietnam Post accepts and delivers nearly 8 million administrative records in two first quarters 2020</a></h4>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_4.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Vietnam Post launches a new consumer promotion for Summer discounts up to 50%</a></h4>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_5.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">VSS and Vietnam Post launch parades to celebrate the Social Security Mobilization Month</a></h4>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_6.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Vpostcode attracts many users after launching</a></h4>
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_7.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">MIC extends term of Member of Board of Management of Vietnam Post for Mr. Nguyen Quoc Vinh</a></h4>

                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('/ClientTemplate/images/bao_8.jpg');">
                        </a>
                        <div class="text p-4">
                            <h4 class="heading mt-3"><a href="~/Client/Detail">Vietnam Post applies new technology to postal operation in North Central region</a></h4>

                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section bg-light" style="padding:0!important">
        <div class="container">
            <div class="row justify-content-start mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">featured</span>
                    <h2><strong>Featured</strong> Services</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('https://imageog.flaticon.com/icons/png/512/1554/1554401.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF'); ">
                        </a>
                        <div class="text p-4 d-block">
                            <h3 class="heading mt-3"><a href="~/Client/Detail">VPP</a></h3>
                            <div class="meta mb-3">
                                <div class="listing" style="height: 20vh">
                                    Now the paying side will be the reciever.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('https://i.pinimg.com/originals/ff/7f/f3/ff7ff398201f29c932c9d5b8c0d05c08.png'); ">
                        </a>
                        <div class="text p-4 d-block">
                            <h3 class="heading mt-3"><a href="~/Client/Detail">Fast delivery</a></h3>
                            <div class="meta mb-3">
                                <div class="listing" style="height: 20vh">
                                    With just an extra buck you can save way more time on delivery!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="~/Client/Detail" class="block-20" style="background-image: url('https://image.flaticon.com/icons/svg/1611/1611261.svg'); ">
                        </a>
                        <div class="text p-4 d-block">
                            <h3 class="heading mt-3"><a href="~/Client/Detail">Savings delivery </a></h3>
                            <div class="meta mb-3">
                                <div class="listing" style="height: 20vh">
                                    Maybe time isn't a problem to you, then this is the most efficent way to deliver without worrying much about your finance.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
