
@{
    ViewBag.Title = "PostDelivery";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}

    
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="header-service">
                <h1 style="color: #FCB71E;font-weight: bold;">
                    Post &amp; Delivery
                </h1>
                <br>
                <img src="~/ClientTemplate/images/boder.png" alt="none">
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/ClientTemplate/images/anh_1.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Express mail services (EMS)</a></h3>
                                <p>
                                    EMS is Express Mail Service for letter, documents, printed matter and merchandise  from sender to receiver between Vietnam and other countries under...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="        background-image: url('/ClientTemplate/images/anh_2.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Registered mail services</a></h3>
                                <p>
                                    Items are delivered to recipients’ addresses; items are provided private numbers for customers to track and trace their items through Vietnam Post...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/ClientTemplate/images/anh_3.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Ordinary mail services</a></h3>
                                <p>
                                    Ordinary mail service is considered  as the delivery service to postal address via the public postal network.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/ClientTemplate/images/anh_4.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Parcel post service</a></h3>
                                <p>
                                    Parcel post service is a service for articles and merchandises. They are attached with diffirent identifiers for tracking in the transportation and...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/ClientTemplate/images/anh_5.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Consigment service</a></h3>
                                <p>
                                    Consigment service is a delivery service for items and goods in big quantity and large size to domestics addresses. Postal items shall be encoded for...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/ClientTemplate/images/anh_6.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="text p-4 d-block">
                                <h3 class="heading mt-3"><a href="#">Newspaper Distribution</a></h3>
                                <p>
                                    A service offered to customers with retails, subscription, delivery of domestic and foreign newspapers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

