@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        @using (Html.BeginForm("Index", "Chart", FormMethod.Get, new { @name = "search-form" }))
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="background-color: white">
                            <div class="row">

                                <div class="card-body row ">
                                    <div class="col-sm-6 mt-4">
                                        <input type="hidden" name="start" value="" />
                                        <input type="hidden" name="end" value="" />
                                        <label class="text-uppercase"> Filter Time</label>
                                        <input type="text" name="daterange" value="" class="form-control  " />
                                    </div>
                                    <div class="col-sm-6 mt-5">
                                        <input name="ex" value="" hidden />
                                        <button class="exportExcel form-control btn btn-success fa-border mt-2">
                                            Sprint Excel <i class="fa fa-print" aria-hidden="true"></i>
                                        </button>
                                    </div>


                                </div>


                                <div id="chartContainer" style="height: 300px; width: 100%; margin-bottom: 100px"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

    var url_string = location.href;
    var url = new URL(url_string);
    var initMinPrice = url.searchParams.get("YearChart");
    if (initMinPrice == null) {
        initMinPrice = 2020;
    }

//    if (initMinPrice != null) {
//        $("[name$='chartSelect']").attr("#chartContainer3").val("chartContainer2");
//    }
    window.onload = function () {


        /*var chart1 = new CanvasJS.Chart("chartContainer1", {
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Thống kê tổng doanh thu trong các năm ",
                margin: 10,

            },

            axisY: {
                title: "Doanh thu",
                gridThickness: 0,

            },

            data: [{
                type: "column",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                indexLabel: "{y}",
                showInLegend: true,
                legendText: "{label}",
                dataPoints: Html.Raw(ViewBag.DataPoints1)
/*            }]
        });
        chart1.render();

        var chart2 = new CanvasJS.Chart("chartContainer2",
            {
                title: {
                    text: "Doanh thu trong năm " + initMinPrice
                },
                axisX:{
//                    valueFormatString: "MMM" ,
                    labelAngle: -50
                },
                axisY: {
                    valueFormatString: "#,###"
                },

                data: [
                    {
                        type: "line",
                        lineThickness: 2,
                        color: "rgba(0,75,141,0.7)",
                        toolTipContent: "<b>Tháng {label}:</b> {y} VNĐ",
                        dataPoints: Html.Raw(ViewBag.DataPoints2)
                    }

                ]
            });

        chart2.render();#1#*/


        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Revenue Chart"
            },
            axisX: {
                valueFormatString: "DD-MM-YY"
            },
            axisY: {
                title: "Sales (in USD)",
                prefix: "$",
                includeZero: false
            },
            data: [{
                type: "area",
                xValueType: "dateTime",
                xValueFormatString: "DD-MM-YY",
                yValueFormatString: "$#,###",
                dataPoints: @Html.Raw(ViewBag.DataPoints20)
            }]
        });
        chart.render();

        var chartType = document.getElementById('chartType');
        chartType.addEventListener( "change",  function(){
            chart.options.data[0].type = chartType.options[chartType.selectedIndex].value;
            chart.render();
        });




        /*/*var chartType1 = document.getElementById('chartType1');
        chartType1.addEventListener( "change",  function(){
            chart1.options.data[0].type = chartType1.options[chartType1.selectedIndex].value;
            chart1.render();
        });*/

    }


</script>
@section scripts{
    <script>

        $('body').on('click', '.exportExcel', function () {
            $('input[name="ex"]').val(1);
            $('form[name="search-form"]').submit();
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Sprint Excel Success',
                showConfirmButton: false,
                timer: 1500
            });
            $('input[name="ex"]').val() == null;
        });
    </script>

}



